a {
    text-decoration: none;
    color: inherit;
}

.menu {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    color: #fff;
    background: linear-gradient(180deg, #0F4C81 -11.46%, #118ACA 87.25%);
    width: 100px;
  }
  
  .menu li a{
    display:block;
    width:5em;
    text-align:center;
    color: #fff;
    position: relative;
  }

  .menu-pages {
    height: 800px;
  }

  .menu-page1, .menu-page2, .menu-logout {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 97px;
  }

  .menu-page1:hover, .menu-page2:hover, .menu-logout:hover{
    background: linear-gradient(90deg, rgba(255, 255, 255, 0.0001) 0%, rgba(255, 255, 255, 0.3) 92.81%);
    transition: width 2s, height 4s;
  }