@import url('https://fonts.googleapis.com/css?family=Cairo:400,700|Open+Sans:400,700&display=swap');

* {
  font-family: 'Open Sans', sans-serif;
}

h1, h2 {
  font-family: Cairo;
  font-style: normal;
  font-weight: bold;
}

.title-charts {
  font-weight: 600;
  font-size: 16px;
  line-height: 23px;
  letter-spacing: 0.45px;
  text-transform: uppercase;
  color: #035A27;
}

.title-pages{
  margin-left: 83px;
}

.title-pages h1 {
  margin-bottom: 0;
}

.title-pages p {
  margin-top: 0;
}


